body, ul, li {
  padding: 0;
  margin: 0; }

#chart {
  width: 1000px;
  height: 600px;
  margin: 0 auto 0;
  padding-top: 100px;
  text-align: center; }

.bg {
  width: 100%;
  height:100%;
  background: url("./bg.jpg") 0 0;
  margin: 0 auto; }

.ugg {
  width: 70px;
  height: 400px;
  top:300px;
  display: inline-block;
  margin-left: 80px;
  position: relative; }

.event-button{
  position: absolute;
  transform: translate(2rem,10rem);
}
.event-button button{
  display: inline-block;
  margin-left: 2em;
  padding:0 10px;
  border-radius: 5px;
}